body {
	margin: 10% 0 0 0;
	background-image: url(images/scissor.jpg);
	background-size: 100%;
}
.container {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 15%;
	padding: 2% 0;
	border-radius: 10px;
}
.build { 
	font-weight: bold;
	margin: 0;
	text-align: center;
	color: rgb(255, 0, 0);
	font-size: 2em;
}
.build_img {
	margin: 0 30%;
	width: 40%;
}
.tekst {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	color: rgb(0, 0, 0);
}
.btn_social {
	text-align: center;
	font-size: 1.5em;
}
.fa {
	border: 2px solid black;
	border-radius: 10px;
	width: 30px;
	text-align: center;
	padding: 10px;
}
.fa-facebook {
	border-color: rgb(12, 67, 155);
	background-color: rgb(255, 255, 255);
	color: rgb(12, 67, 155);
}
.fa-facebook:hover {
	border-color: rgb(255, 255, 255);
	background-color: rgb(12, 67, 155);
	color: rgb(255, 255, 255);
	cursor: pointer;
}
.fa-instagram {
	border-color: rgb(0, 0, 0);
	background-color: rgb(249, 193, 52);
	color: rgb(0, 0, 0);
}
.fa-instagram:hover {
	border-color: rgb(255, 255, 255);
	background-color: rgb(249, 193, 52);
	color: rgb(255, 255, 255);
	cursor: pointer;
}
.right {
	text-align: right;
	letter-spacing: 3px;
	margin-right: 10%;
}
footer {
	position: fixed;
	bottom: 0;
	right: 5px;
}
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
@media (max-width: 1024px) {
	body {
		background-image: url(images/scissory.jpg);
	}
	.container {
		background-color: rgba(255, 255, 255, 0.5);
		margin: 0 5%;
	}
	.build {
		font-size: 4em;
	}
	.tekst {
		font-size: 3em;
	}
	.btn_social {
		text-align: center;
		font-size: 6em;
	}
	.fa {
		width: 80px;
	}
	.fa-instagram {
		margin-top: 5%; 
	}
	.right {
		letter-spacing: 2px;
		margin-right: 3%;
	}
	footer {
		font-size: 1em;
		clear: both;
		text-align: right;
		margin-bottom: 0;
	}
}